.salon {
    position: relative;
    border-top: 1px solid gray;
    margin-bottom: 2rem;
}

.salon a:not(.btn):hover {
    text-decoration: underline;
}

.salon-btn {
    border: none;
    background-color: rgba(87, 117, 172, 0.788); /* #A11F23 */
    color: white;
    position: relative;
    left: 80%;
}

.salon-btn:hover {
    background-color: #4B6BA7;
}

.salon-img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 9.37rem;
    height: 9.37rem;
}

.salon-ubic {
    color: #4B6BA7;
}