.infobar{
    margin-left: 100px;
    border-radius: 8px;
    position: inherit;
    /* padding-block: 60px; */    
    background: rgb(88, 93, 150);
}

.infobar-img{
    border-radius: 100px;
    width: 5rem;
    height: 5rem;
}
.securitycod{
    margin-top: 20px;
}



.container.main {
    background: rgb(213, 213, 243);
}

#botonReservar {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-height: 2.5rem;
    margin-top: 1.5rem;
}